module.exports = {
  configFTP: {
    host: "00.000.00.00",
    port: 22,
    user_name: "user_name",
    password: "pass",
    root_directory: "dir",
    csv_name: "csv_name",
  },
  configGSH: {
    client_email: "email",
    private_key: "pass",
    scopes: ["scope"],
    spreadsheetIdAllOptions: "id",
    spreadsheetIdOneOption: "id",
    sheetNameAllOptions: "sheet_name",
    sheetNameOneOption: "sheet_name",
  },
  configValidateCSV: {
    columnsAddToBeginningFacebook: ["hotel_id"],
    columnsAddToEndFacebook: ["description","visibility"],
    columnsToSaveFacebook: {
      "origin": 0,
      "destination": 1,
      "hotel_id": 2,
      "name": 3,
      "brand": 4,
      "address_addr1": 5,
      "address_city": 6,
      "address_region": 7,
      "address_country": 8,
      "neighborhood": 10,
      "latitude": 11,
      "longitude": 12,
      "base_price": 14,
      "package_price": 15,
      "trip_length_of_stay": 18,
      "thumbnail_image_url": 20,
      "url": 21,
      "NativeDescription": 28
    }
  }
};
