module.exports = {
  configFTP: {
    host: "00.000.00.00",
    port: 22,
    user_name: "user_name",
    password: "pass",
    root_directory: "dir",
    csv_name: "csv_name",
  },
  configGSH: {
    client_email: "email",
    private_key: "pass",
    scopes: ["scope"],
    spreadsheetId: "id",
    sheetName: "sheet_name"
  },
  configValidateCSV: {
    leaveValuesWithSemicolon: false,
    columnsAddToBeginningGoogleAds: ["Destination ID"],
    columnsAddToEndGoogleAds: ["Destination address"],
    columnsToSaveGoogleAds: {
      "origin": 0,
      "name": 3,
      "package_price": 15,
      "thumbnail_image_url": 20,
      "url": 21,
      "PackageTypeCode": 25
    },
    columnsForTakingDataGoogleAds: {
      "destination": 1,
      "hotel_id": 2,
      "latitude": 11,
      "longitude": 12
    }
  }
};
